* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 24fr 1fr;
  text-align: center;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  grid-template-columns: 1fr 4fr;
  background-color: #393f4d;
}

.header .logo {
  display: grid;
  align-items: center;
  justify-content: start;
}

.menu ul,
.menu li {
  font-size: 16px;
  height: 100%;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu li {
  list-style-type: none;
  display: grid;
  align-items: center;
}

.sidebar {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #FF7755;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  display: grid;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: #FF7755;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;

}

.article {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  background-color: #bccbde;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
